---
import icon_animate from "@/assets/icon_search_animate.png";
import Button from "@UI/Button.astro";
---

<div
  id="tab-1"
  class="tab-panel tabs_search bg-[#F1F1F1] rounded-4xl px-4 py-6 lg:py-8 xl:px-12 shadow-lg/10 flex flex-col gap-4 hidden"
>
  <h3
    class="font-amx-bold font-bold text-2xl xl:text-3xl text-gray-800 text-center"
  >
    Compatibilidad eSIM en dispositivo
  </h3> 
  <div class="flex flex-col gap-3 justify-center items-center">
    <h4 class="text-gray-800 font-roboto font-normal text-sm lg:text-base">
      Selecciona la marca y modelo de tu celular.
    </h4>
    <form
      class="flex flex-col lg:flex-row gap-4 w-full lg:max-w-[560px] mx-auto"
      action=""
    >
      <fieldset class="grid relative w-full">
        <span
          class="absolute left-4 top-2.5 text-gray-800 z-10 text-[10px] font-roboto font-bold"
          >Marca</span
        >
        <svg
          class="pointer-events-none relative right-1 z-10 col-start-1 row-start-1 h-5 w-5 self-center justify-self-end forced-colors:hidden"
          viewBox="0 0 16 16"
          fill="currentColor"
          aria-hidden="true"
        >
          <path
            fill-rule="evenodd"
            d="M4.22 6.22a.75.75 0 0 1 1.06 0L8 8.94l2.72-2.72a.75.75 0 1 1 1.06 1.06l-3.25 3.25a.75.75 0 0 1-1.06 0L4.22 7.28a.75.75 0 0 1 0-1.06Z"
            clip-rule="evenodd"></path>
        </svg>
        <select
          class="marca-select col-start-1 row-start-1 w-full appearance-none rounded-2xl border-0 bg-white h-13 shadow-lg/3 text-gray-700 hover:bg-white forced-colors:appearance-auto font-roboto font-medium text-[15px] leading-12 lg:leading-[50px]"
        >
          <option>Seleccionar</option>
        </select>
      </fieldset>
      <fieldset class="grid relative w-full">
        <span class="absolute left-4 top-2.5 text-gray-800 z-10 text-[10px] font-roboto font-bold">Modelo</span>
        <svg
          class="pointer-events-none relative right-1 z-10 col-start-1 row-start-1 h-5 w-5 self-center justify-self-end forced-colors:hidden"
          viewBox="0 0 16 16"
          fill="currentColor"
          aria-hidden="true"
        >
          <path
            fill-rule="evenodd"
            d="M4.22 6.22a.75.75 0 0 1 1.06 0L8 8.94l2.72-2.72a.75.75 0 1 1 1.06 1.06l-3.25 3.25a.75.75 0 0 1-1.06 0L4.22 7.28a.75.75 0 0 1 0-1.06Z"
            clip-rule="evenodd"></path>
        </svg>
        <select
          disabled
          class="modelo-select col-start-1 row-start-1 w-full appearance-none rounded-2xl border-0 bg-white h-13 shadow-lg/3 text-gray-700 hover:bg-white forced-colors:appearance-auto font-roboto font-medium text-[15px] leading-12 lg:leading-[50px] disabled:opacity-50 truncate"
        >
          <option>Seleccionar</option>
        </select>
      </fieldset>
    </form>
    <div class="flex flex-col gap-6 justify-center items-center">
      <div
        class="show_result flex flex-col gap-3 justify-center items-center pt-5 lg:pt-8 hidden"
      >
        <svg class="size-11 lg:size-16" width="45"  viewBox="0 0 45 45" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path
            d="M22.4998 44.9999C19.8498 44.9999 17.1998 44.5249 14.6998 43.5999C10.1748 41.9249 6.24978 38.7749 3.62478 34.7499C0.999777 30.7249 -0.275223 25.8249 0.0497768 21.0249C0.374777 16.2249 2.27478 11.5499 5.39978 7.89994C8.52478 4.19994 12.8498 1.59994 17.5498 0.549944C22.2498 -0.525056 27.2748 -0.0250563 31.6748 1.94994C32.5748 2.34994 32.9998 3.42494 32.5998 4.34994C32.1998 5.27494 31.1248 5.67494 30.1998 5.27494C26.4998 3.62494 22.2998 3.22494 18.3498 4.09994C14.3998 4.99994 10.7748 7.17494 8.14978 10.2499C5.52478 13.3249 3.92478 17.2499 3.67478 21.2749C3.39978 25.2999 4.47478 29.3999 6.67478 32.7999C8.87478 36.1999 12.1748 38.8249 15.9748 40.2249C19.7748 41.6249 23.9998 41.7749 27.8748 40.6249C31.7498 39.4749 35.2248 37.0499 37.6498 33.8249C40.0748 30.5749 41.3998 26.5749 41.3998 22.5249V20.6249C41.3998 19.6249 42.1998 18.8249 43.1998 18.8249C44.1998 18.8249 44.9998 19.6249 44.9998 20.6249V22.5249C44.9998 27.3499 43.3998 32.1249 40.5248 35.9749C37.6498 39.8249 33.4998 42.7249 28.8748 44.0749C26.7998 44.6999 24.6498 44.9999 22.4998 44.9999Z"
            fill="#59328C"></path>
          <path
            d="M22.4995 30.5246C22.0245 30.5246 21.5495 30.3246 21.2245 29.9996L15.0245 23.7996C14.3245 23.0996 14.3245 21.9496 15.0245 21.2496C15.7245 20.5496 16.8745 20.5496 17.5745 21.2496L22.4995 26.1746L41.8995 6.74961C42.5995 6.04961 43.7495 6.04961 44.4495 6.74961C45.1495 7.44961 45.1495 8.59961 44.4495 9.29961L23.7495 30.0246C23.3995 30.3746 22.9495 30.5496 22.4745 30.5496L22.4995 30.5246Z"
            fill="#59328C"></path>
        </svg>
        <p class="font-roboto font-bold text-lg text-gray-800">
          Tu celular es compatible
        </p>
      </div>
      <div
        class="flex flex-col gap-3 lg:gap-6 justify-center items-center pt-1.5 lg:pt-3"
      >
        <div class="flex justify-center items-center gap-2">
          <svg class="h-5 w-5" width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M6.42188 5.30176V9H5.43408V5.30176H6.42188ZM5.37256 4.33789C5.37256 4.19434 5.42269 4.07585 5.52295 3.98242C5.62321 3.889 5.75765 3.84229 5.92627 3.84229C6.09261 3.84229 6.22591 3.889 6.32617 3.98242C6.42871 4.07585 6.47998 4.19434 6.47998 4.33789C6.47998 4.48145 6.42871 4.59993 6.32617 4.69336C6.22591 4.78678 6.09261 4.8335 5.92627 4.8335C5.75765 4.8335 5.62321 4.78678 5.52295 4.69336C5.42269 4.59993 5.37256 4.48145 5.37256 4.33789Z"
              fill="#283342"></path>
            <circle cx="6" cy="6" r="5.5" stroke="#283342"></circle>
          </svg>
          <p class="text-gray-800 font-roboto text-xs lg:text-sm text-pretty">
            Si la marca o modelo de tu equipo no est치 en listado, no podr치s activar tu eSIM.
          </p>
        </div>
        <Button
          classes="btn_esim w-full lg:max-w-[160px] px-9 py-4 md:text-sm lg:text-base xl:text-lg hidden"
          >Entendido</Button
        >
      </div>
      <picture class="animate_img">
        <img src={icon_animate.src} alt="buscador..." />
      </picture>
    </div>
  </div>
</div>

<script>
  const equiposESIM = {
    "Apple": [
        {"modeloComercial": "iPhone XS", "modeloTecnico": "A2097"},
        {"modeloComercial": "iPhone XS Max", "modeloTecnico": "A2101"},
        {"modeloComercial": "iPhone XR", "modeloTecnico": "A2105"},
        {"modeloComercial": "iPhone 11", "modeloTecnico": "A2221"},
        {"modeloComercial": "iPhone 11 Pro", "modeloTecnico": "A2215"},
        {"modeloComercial": "iPhone 11 Pro Max", "modeloTecnico": "A2218"},
        {"modeloComercial": "iPhone SE 2da Gen", "modeloTecnico": "A2296"},
        {"modeloComercial": "iPhone 12 Mini", "modeloTecnico": "A2399"},
        {"modeloComercial": "iPhone 12", "modeloTecnico": "A2403"},
        {"modeloComercial": "iPhone 12 Pro", "modeloTecnico": "A2407"},
        {"modeloComercial": "iPhone 12 Pro Max", "modeloTecnico": "A2411"},
        {"modeloComercial": "iPhone 13 mini", "modeloTecnico": "A2628"},
        {"modeloComercial": "iPhone 13", "modeloTecnico": "A2633"},
        {"modeloComercial": "iPhone 13 Pro", "modeloTecnico": "A2638"},
        {"modeloComercial": "iPhone 13 Pro Max", "modeloTecnico": "A2643"},
        {"modeloComercial": "iPhone SE 3era", "modeloTecnico": "A2783"},
        {"modeloComercial": "iPhone 14", "modeloTecnico": "A2882"},
        {"modeloComercial": "iPhone 14 plus", "modeloTecnico": "A2886"},
        {"modeloComercial": "iPhone 14 Pro", "modeloTecnico": "A2890"},
        {"modeloComercial": "iPhone 14 Pro Max", "modeloTecnico": "A2894"},
        {"modeloComercial": "iPhone 15", "modeloTecnico": "A3090"},
        {"modeloComercial": "iPhone 15 Plus", "modeloTecnico": "A3094"},
        {"modeloComercial": "iPhone 15 Pro", "modeloTecnico": "A3102"},
        {"modeloComercial": "iPhone 15 Pro Max", "modeloTecnico": "A3106"},
        {"modeloComercial": "iPhone 16", "modeloTecnico": "A3287"},
        {"modeloComercial": "iPhone 16 Plus", "modeloTecnico": "A3290"},
        {"modeloComercial": "iPhone 16 Pro", "modeloTecnico": "A3293"},
        {"modeloComercial": "iPhone 16 Pro Max", "modeloTecnico": "A3296"},
        {"modeloComercial": "iPhone 16e", "modeloTecnico": ""}
    ],
    "Huawei": [
        {"modeloComercial": "Huawei P40 PRO", "modeloTecnico": "ELS-N04"}
    ],
    "Samsung": [
        {"modeloComercial": "Galaxy S20", "modeloTecnico": "SM-G980F"},
        {"modeloComercial": "Galaxy S20+", "modeloTecnico": "SM-G985F"},
        {"modeloComercial": "Galaxy S20 Ultra", "modeloTecnico": "SM-G988B"},
        {"modeloComercial": "Galaxy Note 20", "modeloTecnico": "SM-N980F"},
        {"modeloComercial": "Galaxy Note 20 ultra", "modeloTecnico": "SM-N985F"},
        {"modeloComercial": "Galaxy s21", "modeloTecnico": "SM-G991B"},
        {"modeloComercial": "Galaxy s21 ultra", "modeloTecnico": "SM-G998B"},
        {"modeloComercial": "Galaxy s21+", "modeloTecnico": "SM-G996B"},
        {"modeloComercial": "Galaxy Z Fold3 5G", "modeloTecnico": "SM-F926B"},
        {"modeloComercial": "Galaxy Z Flip3 5G", "modeloTecnico": "SM-F711B"},
        {"modeloComercial": "Galaxy S22", "modeloTecnico": "SM-S901E"},
        {"modeloComercial": "Galaxy S22 +", "modeloTecnico": "SM-S906E"},
        {"modeloComercial": "Galaxy S22 ULTRA", "modeloTecnico": "SM-S908E"},
        {"modeloComercial": "Galaxy Z Fold 4", "modeloTecnico": "SM-F936B"},
        {"modeloComercial": "Galaxy Z Flip4", "modeloTecnico": "SM-F721B"},
        {"modeloComercial": "Galaxy S23 ULTRA", "modeloTecnico": "SM-S918B"},
        {"modeloComercial": "Galaxy S23", "modeloTecnico": "SM-S911B"},
        {"modeloComercial": "Galaxy S23+", "modeloTecnico": "SM-S916B"},
        {"modeloComercial": "Galaxy S23 FE", "modeloTecnico": "SM-S711B"},
        {"modeloComercial": "Galaxy S24", "modeloTecnico": "SM-S921B"},
        {"modeloComercial": "Galaxy S24+", "modeloTecnico": "SM-S926B"},
        {"modeloComercial": "Galaxy S24 Ultra", "modeloTecnico": "SM-S928B"},
        {"modeloComercial": "Galaxy Z FLIP 5", "modeloTecnico": "SM-F731B"},
        {"modeloComercial": "Galaxy Z FOLD 5", "modeloTecnico": "SM-F946B"},
        {"modeloComercial": "Galaxy S24 FE", "modeloTecnico": "SM-S721B"},
        {"modeloComercial": "Galaxy A55 5G", "modeloTecnico": "SM-A556E"},
        {"modeloComercial": "Galaxy S25", "modeloTecnico": "SM-S931B"},
        {"modeloComercial": "Galaxy S25 PLUS", "modeloTecnico": "SM-S936B"},
        {"modeloComercial": "Galaxy S25 ULTRA", "modeloTecnico": "SM-S938B"},
        {"modeloComercial": "Galaxy A56 5G", "modeloTecnico": "SM-A566E"},
        {"modeloComercial": "Galaxy FLIP 7", "modeloTecnico": "SM-F766B"},
        {"modeloComercial": "Galaxy FOLD 7", "modeloTecnico": "SM-F966B"},
        {"modeloComercial": "Galaxy FLIP 7 FE", "modeloTecnico": "SM-F761B"},
        {"modeloComercial": "Galaxy S25 FE", "modeloTecnico": "SM-S731B"}
    ],
    "Xiaomi": [
        {"modeloComercial": "Xiaomi 13T", "modeloTecnico": "2306EPN60G"},
        {"modeloComercial": "Xiaomi 14T", "modeloTecnico": "2406APNFAG"},
        {"modeloComercial": "Redmi Note 14 Pro 5G", "modeloTecnico": "24115RA8EG"},
        {"modeloComercial": "Redmi Note 14 Pro Plus 5G", "modeloTecnico": "24090RA29G"},
        {"modeloComercial": "Xiaomi 12T Pro", "modeloTecnico": "22081212UG"},
        {"modeloComercial": "Redmi Note 13 Pro Plus 5G", "modeloTecnico": "23090RA98G"},
        {"modeloComercial": "Xiaomi 15T Pro", "modeloTecnico": "2506BPN68G"},
        {"modeloComercial": "Xiaomi 15T", "modeloTecnico": "25069PTEBG"}
    ],
    "Motorola": [
        {"modeloComercial": "Edge 50 Pro", "modeloTecnico": "XT2403-2"},
        {"modeloComercial": "Edge 50 Fusion", "modeloTecnico": "XT2429-1"},
        {"modeloComercial": "Moto G85 5G", "modeloTecnico": "XT2427-1"},
        {"modeloComercial": "Razr 50", "modeloTecnico": "XT2453-1"},
        {"modeloComercial": "Moto Edge 50", "modeloTecnico": "XT2407-2"},
        {"modeloComercial": "Moto G35 5G", "modeloTecnico": "XT2433-2"},
        {"modeloComercial": "Edge 40", "modeloTecnico": "XT2303-2"},
        {"modeloComercial": "Edge 40 Neo", "modeloTecnico": "XT2307-1"},
        {"modeloComercial": "Moto G84 5G", "modeloTecnico": "XT2347-1"},
        {"modeloComercial": "EDGE 60 FUSION", "modeloTecnico": "XT2503-1"},
        {"modeloComercial": "EDGE 60", "modeloTecnico": "XT2505-3"},
        {"modeloComercial": "EDGE 60 PRO", "modeloTecnico": "XT2507-1"},
        {"modeloComercial": "RAZR 60", "modeloTecnico": "XT2553-1"},
        {"modeloComercial": "Moto G56 5G", "modeloTecnico": "XT2529-1"},
        {"modeloComercial": "Moto G86 POWER 5G", "modeloTecnico": "XT2527-6"}
    ],
    "Honor": [
        {"modeloComercial": "Honor 400", "modeloTecnico": "DNY-NX9"},
        {"modeloComercial": "Honor Magic 7 PRO", "modeloTecnico": "PTP-N49"},
        {"modeloComercial": "Honor 200", "modeloTecnico": "ELI-NX9"},
        {"modeloComercial": "Honor 200 Pro", "modeloTecnico": "ELP-NX9"},
        {"modeloComercial": "Honor 400 Pro", "modeloTecnico": "DNP-NX9"}
    ],
    "Oppo": [
        {"modeloComercial": "Reno 14F 5G", "modeloTecnico": "CPH2743"}
    ]
  };

  const messageSuccess = `<svg class="size-11 lg:size-16" width="65" height="65" viewBox="0 0 65 65" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M32.4996 65.0002C28.6718 65.0002 24.844 64.314 21.2329 62.9779C14.6968 60.5585 9.02735 56.0085 5.23568 50.1946C1.44402 44.3807 -0.397651 37.3029 0.071793 30.3696C0.541237 23.4363 3.28568 16.6835 7.79957 11.4113C12.3135 6.06683 18.5607 2.31127 25.3496 0.794607C32.1385 -0.75817 39.3968 -0.0359483 45.7523 2.81683C47.0523 3.39461 47.6662 4.94738 47.0885 6.2835C46.5107 7.61961 44.9579 8.19738 43.6218 7.61961C38.2773 5.23627 32.2107 4.6585 26.5051 5.92238C20.7996 7.22238 15.5635 10.3641 11.7718 14.8057C7.98013 19.2474 5.66901 24.9168 5.3079 30.7307C4.91068 36.5446 6.46346 42.4668 9.64124 47.3779C12.819 52.2891 17.5857 56.0807 23.0746 58.1029C28.5635 60.1252 34.6662 60.3418 40.2635 58.6807C45.8607 57.0196 50.8801 53.5168 54.3829 48.8585C57.8857 44.1641 59.7996 38.3863 59.7996 32.5363V29.7918C59.7996 28.3474 60.9551 27.1918 62.3996 27.1918C63.844 27.1918 64.9996 28.3474 64.9996 29.7918V32.5363C64.9996 39.5057 62.6884 46.4029 58.5357 51.9641C54.3829 57.5252 48.3885 61.714 41.7079 63.664C38.7107 64.5668 35.6051 65.0002 32.4996 65.0002Z" fill="#59328C"/>
<path d="M32.4992 44.0917C31.8131 44.0917 31.127 43.8028 30.6575 43.3334L21.702 34.3778C20.6909 33.3667 20.6909 31.7056 21.702 30.6945C22.7131 29.6834 24.3742 29.6834 25.3853 30.6945L32.4992 37.8084L60.5214 9.75003C61.5325 8.73892 63.1936 8.73892 64.2047 9.75003C65.2159 10.7611 65.2159 12.4223 64.2047 13.4334L34.3047 43.3695C33.7992 43.875 33.1492 44.1278 32.4631 44.1278L32.4992 44.0917Z" fill="#59328C"/>
</svg>
  <p class="font-roboto font-bold text-lg text-gray-800">
    Tu celular es compatible
  </p>`

  const messageError = `<svg class="size-11 lg:size-16" width="65" height="65" viewBox="0 0 65 65" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M32.5 65C14.5889 65 0 50.4111 0 32.5C0 14.5889 14.5889 0 32.5 0C50.4111 0 65 14.5889 65 32.5C65 50.4111 50.4111 65 32.5 65ZM32.5 5.23611C17.4778 5.23611 5.23611 17.4778 5.23611 32.5C5.23611 47.5222 17.4778 59.7639 32.5 59.7639C47.5222 59.7639 59.7639 47.5222 59.7639 32.5C59.7639 17.4778 47.5222 5.23611 32.5 5.23611Z" fill="#59328C"/><path d="M23.5446 44.0918C22.8585 44.0918 22.2085 43.839 21.7029 43.3335C20.6918 42.3224 20.6918 40.6612 21.7029 39.6501L39.6501 21.7029C40.6612 20.6918 42.3224 20.6918 43.3335 21.7029C44.3446 22.714 44.3446 24.3751 43.3335 25.3862L25.3862 43.3335C24.8807 43.839 24.1946 44.0918 23.5446 44.0918Z" fill="#59328C"/><path d="M41.4548 44.0918C40.8048 44.0918 40.1187 43.839 39.6131 43.3335L21.6659 25.3862C20.6548 24.3751 20.6548 22.714 21.6659 21.7029C22.677 20.6918 24.3381 20.6918 25.3493 21.7029L43.2965 39.6501C44.3076 40.6612 44.3076 42.3224 43.2965 43.3335C42.7909 43.839 42.1048 44.0918 41.4548 44.0918Z" fill="#59328C"/></svg>
  <p class="font-roboto font-bold text-lg text-gray-800">
    Tu celular no es compatible
  </p>`

  const section = document.querySelector(".tabs_search");
  // Obtener referencias a los elementos del DOM
  const marcaSelect = section.querySelector('.marca-select') as HTMLSelectElement;
  const modeloSelect = section.querySelector('.modelo-select') as HTMLSelectElement;
  const sectionImg = section.querySelector(".animate_img") as HTMLElement;
  const resultShow = section.querySelector(".show_result") as HTMLElement;
  const btnEsim = section.querySelector(".btn_esim") as HTMLElement;
  const dataEquiposEsim = Object.keys(equiposESIM)

  const clearResult = () => {
    sectionImg.classList.remove('hidden');
    resultShow.classList.add('hidden');
    btnEsim.classList.add('hidden');
  };

  const resetSelects = () => {
    //Forzar el desencadenamiento de un cambio para mostrar los modelos correspondientes
    const firstOption = marcaSelect.options[0];
    firstOption.selected = true;
    const event = new Event('change', { bubbles: true });
    firstOption.dispatchEvent(event);
  };

  // Llenar el selector de marcas
  dataEquiposEsim.forEach(marca => {
      const option = document.createElement('option');
      option.value = marca;
      option.textContent = marca;
      marcaSelect.appendChild(option);
  });

  // Event listener para cuando cambia la marca seleccionada
  marcaSelect.addEventListener('change', function() {
      const marcaSeleccionada = this.value;
      // Limpiar y resetear el selector de modelos
      modeloSelect.innerHTML = '<option value="">Seleccionar</option>';
      modeloSelect.disabled = !marcaSeleccionada;
      clearTimeout(cleanupTimeout);
      cleanupTimeout = null;
      clearResult()
      // console.log(marcaSeleccionada);
      // Si se seleccion칩 una marca, llenar el selector de modelos
      if (marcaSeleccionada) {
        // const marcaObj = equiposFiltrados.find((item) => item.marcar === marcaSeleccionada);
        const marcaObj = equiposESIM[marcaSeleccionada];
        if (marcaObj) {
          marcaObj.forEach((modelo:any) => {
            // console.log(modelo);
            const option = document.createElement('option');
            option.value = modelo.modeloComercial;
            option.textContent = modelo.modeloComercial;
            option.dataset.compatible = "1";
            modeloSelect.appendChild(option);
          });
        }
      }
  });

  // Event listener para cuando cambia el modelo seleccionado
  modeloSelect.addEventListener('change', function() {
      const isCompatible = Number(this.options[this.selectedIndex].dataset.compatible);
      clearTimeout(cleanupTimeout);
      cleanupTimeout = null;
      console.log({isCompatible})
      sectionImg.classList.add('hidden');
      resultShow.classList.remove('hidden');
      btnEsim.classList.remove('hidden');
      if (isCompatible) {
          resultShow.innerHTML = messageSuccess;
          // console.log(modeloTecnico);
      } else {
        // console.log('No se seleccion칩 un modelo');
        resultShow.innerHTML = messageError;
      }
      if (cleanupTimeout) clearTimeout(cleanupTimeout);
      console.log("se agregal timeout de 10s")
      cleanupTimeout = setTimeout(() => {
        resetSelects();
        //Limpair el resultado
        clearResult();
      }, 10000);
  });

  let cleanupTimeout = null;
  btnEsim.addEventListener('click', function() {
    resetSelects();
    clearTimeout(cleanupTimeout);
    cleanupTimeout = null;
    clearResult();
  });
</script>
