---
import bg_desktop from "@/assets/bg_banner_desktop.webp"
import bg_tablet from "@/assets/bg_banner_tablet.webp"
import bg_mobile from "@/assets/bg_banner_mobile.webp"
---

<section class="relative z-10 bg-transparent mx-auto">
  <div class="container">
    <a href="https://www.tiendaclaro.pe/personas/hogar/internet/?initialmap=c%2Cc%2Cc&initialquery=personas%2Fhogar%2Finternet&map=category-1%2Ccategory-2%2Ccategory-3%2Cmas-sobre-hogar&query=%2Fpersonas%2Fhogar%2Finternet%2Finternet-y-claro-tv-&searchstate=&utm_campaign=performance_hogar&utm_source=medios_propios&utm_medium=claro_pe&utm_content=internas-tiendaclaro_internet_y_clarotv&utm_term=hogar-linea_nueva&cu=cp1758293680&portal_cid=348f9ee4-481c-4b5d-9e1c-23b33b2d4a12" target="_blank">
      <picture>
        <source media="(min-width: 1200px)" srcset={bg_desktop.src} />
        <source media="(min-width: 768px)" srcset={bg_tablet.src} />
        <img src={bg_mobile.src} alt="" />
      </picture>
    </a>
  </div>
</section>
