---
import banner_mobile from "@/assets/banner_mobile.webp";
import banner_desktop from "@/assets/banner_desktop.webp";
import Button from "@UI/Button.astro"
---

<section class="p-0 md:pb-4 relative">
  <picture class="flex w-full h-auto relative">
    <source media="(min-width: 768px)" srcset={banner_desktop.src} />
    <img
      class="w-full h-full object-cover"
      src={banner_mobile.src}
      alt="ESIM"
    />
  </picture>
  <div class="absolute top-0 w-full h-full left-0 z-10">
    <div class="container md:px-[20px] pt-12 lg:pt-20 xl:pt-0 w-full flex flex-col gap-2 xl:gap-4 items-center md:items-start relative xl:top-1/2 xl:-translate-y-6/6">
      <h1 class="font-amx-bold text-center xl:text-left w-fit xl:max-w-[450px] text-balance leading-none h-fit text-2xl md:text-xl lg:text-2xl xl:text-5xl text-white" data-aos="fade-up">eSIM Claro: El chip virtual que buscas</h1>
      <p class="text-white text-lg md:text-base lg:text-lg font-amx-medium">Con eSIM dile adiós a los chips físicos.</p>
      <Button as="a" target="_blank" href="https://www.claro.com.pe/personas/agenda-tu-cita/" classes="bg-white text-claro hover:bg-claro hover:text-white px-9 py-3 md:text-sm lg:text-base xl:text-lg">Agenda tu cita</Button>
    </div>
  </div>
  <div class="container xl:max-w-[1080px] xl:mx-auto">
    <p class="text-black text-base xl:text-[20px] text-center text-pretty font-amx-regular leading-normal pt-3 lg:pt-0 xl:px-8 xl:-mt-4">La eSIM Claro es el chip virtual que reemplaza la tarjeta SIM física y te permite estar siempre conectado sin necesidad de un chip físico. Descubre cómo activarla y más.</p>
  </div>
</section>
