---
import bg_mobile from "@/assets/bg_beneficio_mobile.webp";
import bg_tablet from "@/assets/bg_beneficio_tablet.webp";
import bg_desktop from "@/assets/bg_beneficio_desktop.webp";
import chico_beneficios from "@/assets/chico_beneficios.webp";
---

<section class="section_benefits pt-0 xl:pt-14 pb-4">
  <div class="container px-0 relative">
    <picture>
      <source media="(min-width: 992px)" srcset={bg_desktop.src} />
      <source media="(min-width: 768px)" srcset={bg_tablet.src} />
      <img
        class="w-full h-full md:h-[600px] lg:h-fit object-cover"
        src={bg_mobile.src}
        alt="beneficios esim"
      />
    </picture>
    <div
      class="contentTodo absolute top-0 left-0 w-full h-full flex flex-col justify-between items-center before:absolute before:left-0 before:top-0 before:w-full before:h-full before:rounded-2xl before:border-4 before:border-white before:-scale-x-[92%] lg:before:-scale-x-[96%] before:-scale-y-[94%] lg:before:-scale-y-[88%] lg:flex-row"
    >
      <div
        class="px-8 md:px-0 py-12 lg:px-8 xl:px-12 xl:pl-20 relative flex flex-col md:grid md:grid-cols-[310px_270px] gap-5 md:gap-y-8 md:gap-x-10 z-10"
      >
        <h2
          class="text-white font-amx-black text-2xl xl:text-4xl px-6 lg:px-0 text-center lg:text-left text-balance col-span-2"
        >
          Beneficios de activar eSIM
        </h2>
        <nav class="text-white w-full md:max-w-[310px] mx-auto">
          <ul class="flex flex-col gap-3">
            <li
              data-index="0"
              class="font-roboto font-medium text-base border border-white rounded-full px-3 py-2 flex gap-2 items-center justify-between cursor-pointer bg-transparent transition-all duration-300 btn_tab_beneficio text-claro bg-white"
            >
              <span>Si viajas mucho</span>
              <svg
                width="16"
                height="16"
                viewBox="0 0 16 16"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M7.82617 14.8972C4.02071 14.897 0.937551 11.8158 0.937501 8.01636C0.937501 4.21687 4.02068 1.1357 7.82617 1.1355C11.6318 1.1355 14.7158 4.21674 14.7158 8.01636C14.7158 11.8159 11.6318 14.8972 7.82617 14.8972Z"
                  stroke="currentColor"
                  stroke-width="1.4254"></path>
                <path
                  d="M8.35742 11.0188L11.8933 7.83998L8.35742 4.66116"
                  stroke="currentColor"
                  stroke-width="1.4254"
                  stroke-linecap="round"
                  stroke-linejoin="round"></path>
                <path
                  d="M11.8931 7.83984L4.11412 7.83984"
                  stroke="currentColor"
                  stroke-width="1.4254"
                  stroke-linecap="round"></path>
              </svg>
            </li>
            <li
              data-index="1"
              class="font-roboto font-medium text-base border border-white rounded-full px-3 py-2 flex gap-2 items-center justify-between cursor-pointer bg-transparent transition-all duration-300 btn_tab_beneficio"
            >
              <span>Si mantienes el equilibrio en tu vida</span>
              <svg
                width="16"
                height="16"
                viewBox="0 0 16 16"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M7.82617 14.8972C4.02071 14.897 0.937551 11.8158 0.937501 8.01636C0.937501 4.21687 4.02068 1.1357 7.82617 1.1355C11.6318 1.1355 14.7158 4.21674 14.7158 8.01636C14.7158 11.8159 11.6318 14.8972 7.82617 14.8972Z"
                  stroke="currentColor"
                  stroke-width="1.4254"></path>
                <path
                  d="M8.35742 11.0188L11.8933 7.83998L8.35742 4.66116"
                  stroke="currentColor"
                  stroke-width="1.4254"
                  stroke-linecap="round"
                  stroke-linejoin="round"></path>
                <path
                  d="M11.8931 7.83984L4.11412 7.83984"
                  stroke="currentColor"
                  stroke-width="1.4254"
                  stroke-linecap="round"></path>
              </svg>
            </li>
            <li
              data-index="2"
              class="font-roboto font-medium text-base border border-white rounded-full px-3 py-2 flex gap-2 items-center justify-between cursor-pointer bg-transparent transition-all duration-300 btn_tab_beneficio"
            >
              <span>Si cambias de chip con frecuencia</span>
              <svg
                width="16"
                height="16"
                viewBox="0 0 16 16"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M7.82617 14.8972C4.02071 14.897 0.937551 11.8158 0.937501 8.01636C0.937501 4.21687 4.02068 1.1357 7.82617 1.1355C11.6318 1.1355 14.7158 4.21674 14.7158 8.01636C14.7158 11.8159 11.6318 14.8972 7.82617 14.8972Z"
                  stroke="currentColor"
                  stroke-width="1.4254"></path>
                <path
                  d="M8.35742 11.0188L11.8933 7.83998L8.35742 4.66116"
                  stroke="currentColor"
                  stroke-width="1.4254"
                  stroke-linecap="round"
                  stroke-linejoin="round"></path>
                <path
                  d="M11.8931 7.83984L4.11412 7.83984"
                  stroke="currentColor"
                  stroke-width="1.4254"
                  stroke-linecap="round"></path>
              </svg>
            </li>
          </ul>
        </nav>
        <div class="text-center grid gap-2">
          <h3
            class="text-white text-lg font-roboto font-bold leading-tight title_content"
          >
            Si eres de las personas que viajan mucho...
          </h3>
          <p class="text-white font-roboto font-bold text-sm text_content">
            Con la eSIM podrás tener acceso a diferentes planes de datos en cada
            país sin tener que cambiar ni comprar un nuevo chip.
          </p>
        </div>
      </div>
    </div>
    <img
      class="chico_beneficios"
      src={chico_beneficios.src}
      alt="beneficios esim"
    />
  </div>
</section>
<!-- 
<style>
  @media (min-width: 1024px) {
    .chico_beneficios {
      width: 320px !important;
      height: 293.13px !important;
    }
  }
  @media (min-width: 1279px) {
    .chico_beneficios {
      width: 460px !important;
      height: 421.36px !important;
    }
  }
  @media (min-width: 1503px) {
    .chico_beneficios {
      width: 520px !important;
      height: 476.33px !important;
    }
    section.section_benefits {
      height: 486px;
    }
  }
</style>
 -->
<style>
  .chico_beneficios {
    z-index: 2;
    bottom: 0;
    position: absolute;
    right: 96px;
  }
  @media (min-width: 641px) {
    section.section_benefits picture img {
      border-radius: 20px !important;
      overflow: hidden;
    }
  }
  @media (min-width: 1503px) {
    section.section_benefits picture img {
      height: 414px !important;
    }
  }
  @media (max-width: 1503px) and (min-width: 1280px) {
    section.section_benefits picture img {
      height: 368px !important;
    }
  }

  @media (max-width: 1279px) and (min-width: 1024px) {
    .chico_beneficios {
      right: 0px;
    }
    section.section_benefits picture img {
      height: 295px !important;
    }
  }

  @media (max-width: 1023px) {
    .chico_beneficios {
      width: 320px !important;
      height: 293.13px !important;
      right: initial;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  @media (min-width: 1024px) {
    .chico_beneficios {
      width: 320px !important;
      height: 293.13px !important;
    }
  }

  @media (min-width: 1280px) {
    .chico_beneficios {
      width: 460px !important;
      height: 421.36px !important;
    }
  }

  @media (min-width: 1504px) {
    .chico_beneficios {
      width: 520px !important;
      height: 476.33px !important;
    }
  }
</style>

<script>
  const dataTabs = [
    {
      title: "Si viajas mucho",
      content: {
        title: "Si eres de las personas que viajan mucho...",
        text: "Con la eSIM podrás tener acceso a diferentes planes de datos en cada país sin tener que cambiar ni comprar un nuevo chip.",
      },
    },
    {
      title: "Si mantienes el equilibrio en tu vida",
      content: {
        title:
          "Si equilibrar tu vida personal y laboral es parte del día a día...",
        text: "Con la eSIM podrás administrar ambos números en el mismo dispositivo móvil, sin necesidad de usar dos teléfonos.",
      },
    },
    {
      title: "Si cambias de chip con frecuencia",
      content: {
        title: "Si eres de los que cambia de chip con frecuencia...",
        text: "Con la eSIM evitarás manipulaciones innecesarias y siempre tendrás tu línea segura en tu celular.",
      },
    },
  ];
  const section = document.querySelector(".section_benefits");
  const btnsTabs = document.querySelectorAll(".btn_tab_beneficio");
  if (btnsTabs.length) {
    btnsTabs.forEach((tabBtn) => {
      tabBtn.addEventListener("click", () => {
        const index = tabBtn.getAttribute("data-index");
        btnsTabs.forEach((item) =>
          item.classList.remove("text-claro", "bg-white")
        );
        tabBtn.classList.add("text-claro", "bg-white");
        section.querySelector(".title_content").textContent =
          dataTabs[index].content.title;
        section.querySelector(".text_content").textContent =
          dataTabs[index].content.text;
      });
    });
  }
</script>
