---

---

<style>  
  .portlet[data-channels] .portlet__align {
    max-width: 1252px;
    width: 100%;
    margin: 0 auto;
    padding: 50px 0 50px;
  }

  @media screen and (max-width: 1499px) {
    .portlet[data-channels] .portlet__align {
      max-width: 1280px;
      width: calc(100% - 40px);
    }
  }

  .portlet[data-channels] .portlet__header {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    margin-bottom: 32px;
  }

  .portlet[data-channels] .portlet__channels {
    width: 100%;
  }

  .portlet[data-channels] .portlet__channels .slider {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    align-items: center;
    gap: 25px;
  }

  @media screen and (max-width: 1024px) {
    .portlet[data-channels] .portlet__channels .slider {
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
    }
  }

  @media screen and (max-width: 768px) {
    .portlet[data-channels] .portlet__channels .slider {
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
    }
  }

  .portlet[data-channels] .portlet__channels .slider__item {
    width: 401px;
    height: 415px;
    border-radius: 30px;
    border: 1px solid #E5E7E8;
    background-color: #fff;
    overflow: hidden;
  }

  @media screen and (max-width: 1024px) {
    .portlet[data-channels] .portlet__channels .slider__item {
      max-width: 330px;
      height: 180px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
    }
  }

  @media screen and (max-width: 768px) {
    .portlet[data-channels] .portlet__channels .slider__item {
      margin: 0 auto;
      width: 49%;
    }
  }

  @media screen and (max-width: 640px) {
    .portlet[data-channels] .portlet__channels .slider__item {
      width: 100%;
    }
  }

  .portlet[data-channels] .portlet__channels .slider__item__header {
    height: 50%;
    width: 100%;
    height: 193px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  @media screen and (max-width: 1024px) {
    .portlet[data-channels] .portlet__channels .slider__item__header {
      height: 100%;
      width: 138px;
    }
  }

  .portlet[data-channels] .portlet__channels .slider__item__header__picture {
    margin: 0;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  @media screen and (max-width: 1024px) {
    .portlet[data-channels] .portlet__channels .slider__item__header__picture {
      width: 100%;
      height: auto;
    }
  }

  .portlet[data-channels] .portlet__channels .slider__item__header__picture img {
    height: inherit;
    max-width: 100%;
  }

  @media screen and (max-width: 1024px) {
    .portlet[data-channels] .portlet__channels .slider__item__header__picture img.unt {
      -o-object-fit: cover;
      object-fit: cover;
      -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
      width: 100%;
      height: 182px;
    }
  }

  .portlet[data-channels] .portlet__channels .slider__item__content {
    height: calc(100% - 193px);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    max-width: 296px;
    margin: 0 auto;
    text-align: center;
  }

  @media screen and (max-width: 1024px) {
    .portlet[data-channels] .portlet__channels .slider__item__content {
      height: 100%;
      width: calc(100% - 138px);
      margin: 0;
      -webkit-box-align: start;
      -ms-flex-align: start;
      align-items: flex-start;
      text-align: left;
      margin-left: 17px;
    }
  }

  .portlet[data-channels] .portlet__channels .slider__item__content__title {
    font: normal 700 24px "AMX";
    color: #000;
    line-height: 137%;
    margin-bottom: 14px;
  }

  @media screen and (max-width: 1024px) {
    .portlet[data-channels] .portlet__channels .slider__item__content__title {
      font-size: 18px;
      line-height: 20px;
      margin-bottom: 11px;
    }
  }

  .portlet[data-channels] .portlet__channels .slider__item__content__description {
    font: normal 400 16px "Roboto";
    line-height: 18px;
    color: #6C6C6C;
    min-height: 54px;
    margin-bottom: 25px;
  }

  @media screen and (max-width: 1024px) {
    .portlet[data-channels] .portlet__channels .slider__item__content__description {
      font-size: 13px;
      line-height: normal;
      margin-bottom: 8px;
      max-width: 157px;
      min-height: 60px;
    }
  }

  .portlet[data-channels] .portlet__channels .slider__item__content__cta {
    border-radius: 20px;
    background: #DA291C;
    display: block;
    width: 199.999px;
    text-align: center;
    font: normal 700 16px "Roboto";
    line-height: 40px;
    color: #fff;
  }

  @media screen and (max-width: 1024px) {
    .portlet[data-channels] .portlet__channels .slider__item__content__cta {
      text-align: center;
      width: 140px;
    }
  }
</style>

<div class="portlet relative z-10" data-channels="data-channels">
  <div class="portlet__align">
    <div class="portlet__header">
      <div class="portlet__header__icon"> </div>
      <h2 class="font-amx-bold font-bold text-center text-2xl md:text-3xl">Disfruta del fútbol con Claro</h2>
    </div>
    <div class="portlet__channels">
      <div class="slider" id="sliderchannels">
        <div class="slider__item">
          <div class="slider__item__header">
            <picture class="slider__item__header__picture">
              <source media="(max-width: 1040px)"
                srcset="https://www.claro.com.pe/assets/havas/landing-deportes/liga1/assets/channels/premium-T.png" />
              <source media="(min-width: 1040px)"
                srcset="https://www.claro.com.pe/assets/havas/landing-deportes/liga1/assets/channels/premium.png" />
              <img src="https://www.claro.com.pe/assets/havas/landing-deportes/liga1/assets/channels/premium.png"
                alt="TORNEOS DE FUTBOL PERUANO" />
            </picture>
          </div>
          <div class="slider__item__content">
            <h3 class="slider__item__content__title">Paquete Premium</h3>
            <p class="slider__item__content__description">Canal Premium donde podrás ver en VIVO la gran mayoría
              de los partidos del Torneo Liga 1 Te Apuesto.</p><a href="https://www.claro.com.pe/personas/hogar/tv/canales-premium/?tab=liga1max" target="_blank" title="" class="slider__item__content__cta">
              Solicitar</a>
          </div>
        </div>
        <div class="slider__item">
          <div class="slider__item__header">
            <picture class="slider__item__header__picture">
              <source media="(max-width: 1040px)"
                srcset="https://www.claro.com.pe/assets/havas/landing-deportes/liga1/assets/channels/eliminatorias-T.png" />
              <source media="(min-width: 1040px)"
                srcset="https://www.claro.com.pe/assets/havas/landing-deportes/liga1/assets/channels/eliminatorias.png" />
              <img class="unt"
                src="https://www.claro.com.pe/assets/havas/landing-deportes/liga1/assets/channels/eliminatorias.png"
                alt="ELIMINATORIAS PERU" />
            </picture>
          </div>
          <div class="slider__item__content">
            <h3 class="slider__item__content__title">Eliminatorias 2026</h3>
            <p class="slider__item__content__description">Conoce y apoya a La Bicolor en los próximos partidos
              rumbo al mundial.</p><a href="https://www.claro.com.pe/deportes/futbol/eliminatorias/" target="_blank" title="" class="slider__item__content__cta">Conoce
              más</a>
          </div>
        </div>
        <div class="slider__item">
          <div class="slider__item__header">
            <picture class="slider__item__header__picture">
              <source media="(max-width: 1040px)"
                srcset="https://www.claro.com.pe/assets/havas/landing-deportes/liga1/assets/channels/channels-T.png" />
              <source media="(min-width: 1040px)"
                srcset="https://www.claro.com.pe/assets/havas/landing-deportes/liga1/assets/channels/channels.png" />
              <img src="https://www.claro.com.pe/assets/havas/landing-deportes/liga1/assets/channels/channels.png"
                alt="CANALES CLARO" />
            </picture>
          </div>
          <div class="slider__item__content">
            <h3 class="slider__item__content__title">Lista de canales</h3>
            <p class="slider__item__content__description">Encuentra la mejor lista de canales y disfruta de todo
              el contenido que tenemos para ti.</p><a href="https://www2.claro.com.pe/personas/hogar/tv/canales-digitales-satelitales/" target="_blank" title="" class="slider__item__content__cta">Conoce
              más</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>