---

---

<section class="relative z-10 bg-transparent py-4">
  <div class="container">
    <h2 class="font-amx-bold font-bold text-center text-2xl md:text-3xl">Planes Claro con <span class="text-claro">L1MAX</span></h2>
  </div>
</section>