---

---

<section
  class="relative z-10 bg-transparent py-4"
  style="background-color: #fff !important;"
>
  <img
    class="hidden lg:block absolute left-5 -top-20 animate-rotating"
    src="https://www.claro.com.pe/assets/havas/landing-deportes/liga1/assets/general/ball-l.png"
    alt="Ball image | Claro Perú"
  />
  <div class="container">
    <h2 class="font-amx-bold font-bold text-center text-2xl md:text-3xl">
      Planes Claro con <span class="text-claro">L1MAX</span>
    </h2>
  </div>
</section>
