---
import icon_01 from "@/assets/icon_01.svg"
import icon_02 from "@/assets/icon_02.svg"
import icon_03 from "@/assets/icon_03.svg"
import icon_04 from "@/assets/icon_04.svg"
---

<section>
  <div class="container flex flex-col gap-6 lg:gap-8">
    <h2 class="font-roboto text-2xl lg:text-3xl xl:text-4xl text-center text-balance">¿Cómo activar la  <span class="text-claro">eSIM</span> en mi celular?</h2>
    <div class="grid gap-6 lg:gap-3 lg:grid-cols-4">
      <div class="grid grid-cols-[50px_1fr] md:grid-cols-[96px_1fr] lg:grid-cols-1 items-center gap-4 bg-white px-5 py-5 rounded-4xl shadow-[0_2px_14px_0_rgba(0,0,0,0.2)] lg:shadow-none">
        <div class="flex flex-col justify-center items-center gap-1 h-fit">
          <img class="lg:size-[70px] xl:size-[90px]" src={icon_01.src} alt="Visita el Centro de Atención">
          <span class="text-[#FF8300] text-3xl lg:text-5xl font-amx-bold font-bold">01</span>
        </div>
        <div class="flex flex-col gap-2 lg:gap-3.5 h-fit">
          <h3 class="font-roboto text-xl lg:text-2xl leading-[1.2] lg:text-center">Visita el Centro de Atención</h3>
          <p class="font-roboto text-base text-gray-600 leading-[1.2] lg:text-center lg:max-w-[220px] lg:mx-auto">Acércate a tu centro de atención al cliente más cercano.</p>
        </div>
      </div>
      <div class="grid grid-cols-[50px_1fr] md:grid-cols-[96px_1fr] lg:grid-cols-1 items-center gap-4 bg-white px-5 py-5 rounded-4xl shadow-[0_2px_14px_0_rgba(0,0,0,0.2)] lg:shadow-none">
        <div class="flex flex-col justify-center items-center gap-1 h-fit">
          <img class="lg:size-[70px] xl:size-[90px]" src={icon_02.src} alt="Visita el Centro de Atención">
          <span class="text-[#FF8300] text-3xl lg:text-5xl font-amx-bold font-bold">02</span>
        </div>
        <div class="flex flex-col gap-2 lg:gap-3.5 h-fit">
          <h3 class="font-roboto text-xl lg:text-2xl leading-[1.2] lg:text-center">Entrega tus datos al asesor</h3>
          <p class="font-amx-regular text-base text-gray-600 leading-[1.2] lg:text-center lg:max-w-[220px] lg:mx-auto">Indica que deseas activar tu eSIM, presenta tu DNI y proporciona tus datos.</p>
        </div>
      </div>
      <div class="grid grid-cols-[50px_1fr] md:grid-cols-[96px_1fr] lg:grid-cols-1 items-center gap-4 bg-white px-5 py-5 rounded-4xl shadow-[0_2px_14px_0_rgba(0,0,0,0.2)] lg:shadow-none">
        <div class="flex flex-col justify-center items-center gap-1 h-fit">
          <img class="lg:size-[70px] xl:size-[90px]" src={icon_03.src} alt="Visita el Centro de Atención">
          <span class="text-[#FF8300] text-3xl lg:text-5xl font-amx-bold font-bold">03</span>
        </div>
        <div class="flex flex-col gap-2 lg:gap-3.5 h-fit">
          <h3 class="font-roboto text-xl lg:text-2xl leading-[1.2] lg:text-center">Escanea tu QR</h3>
          <p class="font-amx-regular text-base text-gray-600 leading-[1.2] lg:text-center lg:max-w-[220px] lg:mx-auto">Escanea el código QR que se te proporcionará y sigue sus indicaciones.</p>
        </div>
      </div>
      <div class="grid grid-cols-[50px_1fr] md:grid-cols-[96px_1fr] lg:grid-cols-1 items-center gap-4 bg-white px-5 py-5 rounded-4xl shadow-[0_2px_14px_0_rgba(0,0,0,0.2)] lg:shadow-none">
        <div class="flex flex-col justify-center items-center gap-1 h-fit">
          <img class="lg:size-[70px] xl:size-[90px]" src={icon_04.src} alt="Visita el Centro de Atención">
          <span class="text-[#FF8300] text-3xl lg:text-5xl font-amx-bold font-bold">04</span>
        </div>
        <div class="flex flex-col gap-2 lg:gap-3.5 h-fit">
          <h3 class="font-roboto text-xl lg:text-2xl leading-[1.2] lg:text-center">¡Listo!</h3>
          <p class="font-amx-regular text-base text-gray-600 leading-[1.2] lg:text-center lg:max-w-[220px] lg:mx-auto">¡Eso es todo! Ten en cuenta que la activación efectiva será luego de 4 horas.</p>
        </div>
      </div>
    </div>
  </div>
</section>