---
import icon_esim from "@/assets/icon_esim.svg";
import chica_esim_mobile from "@/assets/chica_esim_mobile.webp"
import chica_esim_desktop from "@/assets/chica_esim_desktop.webp"
import bg_who_esim from "@/assets/bg_who_esim.webp"
---

<section class="who_is_esim relative">
  <img class="w-full h-full object-cover absolute bottom-0 left-0 z-0 xl:hidden" src={bg_who_esim.src} alt="¿Qué es una eSIM?" />
  <div class="container flex flex-col lg:flex-row gap-4 md:gap-8 lg:gap-12 lg:justify-center relative z-10">
    <div class="flex flex-col gap-2 lg:gap-4 xl:gap-6 justify-center items-center lg:items-start lg:order-2 lg:max-w-[420px]">
      <img class="w-fit" src={icon_esim.src} alt="esim claro">
      <h2 class="font-roboto text-2xl lg:text-3xl xl:text-4xl">¿Qué es una eSIM?</h2>
      <p class="text-center lg:text-left font-roboto text-lg font-medium leading-tight">En lugar de ser un pequeño dispositivo físico que insertas en tu celular, la eSIM está integrada directamente dentro del dispositivo.</p>
    </div>
    <picture class="relative max-w-[600px] mx-auto lg:mx-0 lg:order-1">
      <source media="(min-width: 768px)" srcset={chica_esim_desktop.src} />
      <img
        class="w-full h-full object-cover"
        src={chica_esim_mobile.src}
        alt="chip virtual"
      />
    </picture>
  </div>
</section>