---
import Button from "@UI/Button.astro"
import slider_01 from "@/assets/slider_01.webp"
import slider_02 from "@/assets/slider_02.webp"
import slider_03 from "@/assets/slider_03.webp"
import slider_04 from "@/assets/slider_04.webp"
import "swiper/css/bundle";

---

<section class="bg-transparent section_reconocimientos xl:max-w-[960px] xl:mx-auto">
  <div class="container flex gap-2 md:gap-8 md:gap-y-0 flex-col md:grid md:grid-cols-[300px_1fr]  items-center xl:pr-0 justify-between relative">
    <div class="flex flex-col items-center lg:items-start justify-center gap-4 pb-6 order-2 w-full">
      <h2 class="title_slider text-center md:text-left text-balance text-xl md:text-2xl font-bold font-amx-bold leading-[1.1] w-full">¿Qué es la <span class="text-claro">Liga 1</span> te apuesto?</h2>
      <p class="description_slider text-center md:text-left text-base font-amx-regular leading-normal">La <strong>Liga 1 Te Apuesto</strong> es el campeonato de <strong>fútbol profesional del Perú</strong>, organizado por la Federación Peruana de Fútbol. Cada temporada, reúne a los clubes más importantes del país que compiten por el título nacional y por la clasificación a torneos internacionales como la Copa Libertadores y la Copa Sudamericana.</p>
    </div>
    <div class="flex flex-row justify-center items-center gap-4 pt-5 md:pt-0 mx-auto md:col-span-2 order-3 lg:absolute lg:left-[350px] lg:bottom-3 2xl:-bottom-1" style="--swiper-navigation-size: 14px;--swiper-navigation-color: #fff">
      <div class="swiper-button-prev relative mt-0 after:font-black border-2 text-claro hover:text-white border-claro bg-transparent hover:border-claro hover:bg-claro rounded-full left-0 w-[44px] h-[44px] transition-colors duration-200 ease-out"></div>
      <div class="swiper-pagination relative bottom-auto left-auto right-auto w-fit"></div>
      <div class="swiper-button-next relative mt-0 after:font-black border-2 text-claro hover:text-white border-claro bg-transparent hover:border-claro hover:bg-claro rounded-full right-0 w-[44px] h-[44px] transition-colors duration-200 ease-out"></div>
    </div>
    <div class="swiper sliderReconocimientos w-full order-2 md:order-1">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <picture class="flex items-center justify-center">
            <img class="w-full h-full max-w-[250px] md:max-w-[400px] object-cover rounded-4xl xl:rounded-[48px] relative transition-all duration-200 ease-out" src={slider_01.src} alt="">
          </picture>
        </div>
        <div class="swiper-slide">
          <picture class="flex items-center justify-center">
            <img class="w-full h-full max-w-[250px] md:max-w-[400px] object-cover rounded-4xl xl:rounded-[48px] relative transition-all duration-200 ease-out" src={slider_02.src} alt="">
          </picture>
        </div>
        <div class="swiper-slide">
          <picture class="flex items-center justify-center">
            <img class="w-full h-full max-w-[250px] md:max-w-[400px] object-cover rounded-4xl xl:rounded-[48px] relative transition-all duration-200 ease-out" src={slider_03.src} alt="">
          </picture>
        </div>
        <div class="swiper-slide">
          <picture class="flex items-center justify-center">
            <img class="w-full h-full max-w-[250px] md:max-w-[400px] object-cover rounded-4xl xl:rounded-[48px] relative transition-all duration-200 ease-out" src={slider_04.src} alt="">
          </picture>
        </div>
      </div>
    </div>
  </div>
</section>


<script>
  import Swiper from "swiper/bundle";
  const contentSlider = [
    {
      title: `¿Qué es la <span class="text-claro">Liga 1</span> te apuesto?`,
      description: `La <strong>Liga 1 Te Apuesto</strong> es el campeonato de <strong>fútbol profesional del Perú</strong>, organizado por la Federación Peruana de Fútbol. Cada temporada, reúne a los clubes más importantes del país que compiten por el título nacional y por la clasificación a torneos internacionales como la Copa Libertadores y la Copa Sudamericana.`,
      link: "https://www.claro.com.pe/logros/"
    },
    {
      title: `¿Qué canal es <span class="text-claro">L1MAX</span> en Claro?`,
      description: `<strong>L1MAX</strong> forma parte de la programación de <strong>Claro TV</strong> y está disponible para clientes que cuentan con planes que incluyen este canal. Con L1Max podrás ver en vivo los partidos de la <strong>Liga 1 Perú</strong>, además de la cobertura completa de cada fecha del torneo con la mejor calidad de transmisión.`,
      link: "https://www.claro.com.pe/institucional/sustentabilidad/"
    },
    {
      title: `¿Cómo puedo ver la <span class="text-claro">Liga 1</span> en Claro Tv+?`,
      description: `Si eres cliente Claro puedes acceder a <strong>Liga 1 Max</strong> desde la app <strong>Claro TV+</strong>. Solo necesitas descargar la aplicación en tu smartphone, tablet o Smart TV, iniciar sesión con tu cuenta de Claro y seleccionar el canal. Así podrás disfrutar de los <strong>partidos de hoy</strong> en vivo desde cualquier lugar, sin perderte ningún detalle de la Liga 1.`,
      link: "https://www.claro.com.pe/institucional/sustentabilidad/"
    },
    {
      title: `¿Cuánto cuesta <span class="text-claro">Liga 1 Max</span> en Claro Tv?`,
      description: `El acceso a <strong>Liga 1</strong> Max está incluido en nuestros planes desde 1Play, 2Play y 3Play de Claro. No tiene costo adicional si tu plan ya lo contempla, lo que te permite seguir toda la Liga 1 sin cargos extras. Para confirmar si tu servicio actual incluye el canal, revisa tu plan contratado o consulta en los canales de atención de Claro.`,
      link: "https://www.claro.com.pe/institucional/sustentabilidad/"
    },
  ]
  const swiperSlider = new Swiper(".sliderReconocimientos", {
    slidesPerView: 1,
    spaceBetween: 20,
    pagination: {
      el: ".section_reconocimientos .swiper-pagination",
      type: "fraction",
    },
    navigation: {
      nextEl: ".section_reconocimientos .swiper-button-next",
      prevEl: ".section_reconocimientos .swiper-button-prev",
    },
  });
  //Capturar el evento change del slider
  swiperSlider.on("slideChange", (swiper) => {
    const titleSlider = document.querySelector('.section_reconocimientos .title_slider') as HTMLHeadingElement;
    titleSlider.innerHTML = contentSlider[swiper.activeIndex].title.trim();
    const descriptionSlider = document.querySelector('.section_reconocimientos .description_slider') as HTMLParagraphElement;
    descriptionSlider.innerHTML = contentSlider[swiper.activeIndex].description;
    console.log(swiper.activeIndex);
  });
</script>